* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: verdana;
  }
  
  .logo {
    width: 10%;
    height: 80px;
    float: left;
    background: clear;
  }

  .logo:hover {
    background-color: skyblue;  
    transition: 1s;
  }
  
  nav {
    width: 100%;
    height: 80px;
    background-color: rgb(8, 11, 15);
    opacity: .7;
    line-height: 80px;
    position: fixed;
    top: 0;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    
  }
  
  nav ul li:hover {
    background-color: skyblue;
    transition: 1s;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    color: white;
  }
  
  h3 {
    margin: 40px 0;
  }
  
  .desktop-nav {
    display: none;
    float: right;
    margin-right: 30px;
  }
  
  .mobile-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .mobile-nav.active {
    display: block;
  }
  
  .mobile-nav li {
    display: block;
    background-color: #000;
  }
  
  @media screen and (min-width: 768px) {
    .desktop-nav {
      display: block;
    }
    
    .mobile-trigger {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    img {
      max-width: 90%;
      height: 5vh;
    }
    
  
    
  }
  
  p {
    line-height: 200%;
  }
  
  /* footer */
  
  footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
    margin-top: 10px;
  }
  
  footer a {
    color: white;
  }
  
  footer ul li a:hover {
    background-color: skyblue;
  }
  
  .copyright {
    color: white;
  }
  
  .footerlogo {
    width: 100px;
    height: 100px;
  }
  
    
  
  
  
  
  
  
  
  
  
  
  
  
  